/*color:
yellow :#e5e358;
red: #D11651;
brown : #795d3e;
bleu: #634afb;
turquoise: #34C6C9;*/


title{
  color: white;
  }

  body {
  font: 14px,'Lucida Grande', Helvetica, Arial, sans-serif;*/
  background-color: white;
  height: 100%;
  margin: 0;
  padding: 0;
}

.catchy {
font-family: 'Covered By Your Grace', cursive;
}
p {
  font-size: 15px;
}

a {
  color: #00B7FF;
}

span.icon.is-small{
  margin-right: 5px;
}
/*********navbar/sidebar*********/

/*.sidebar{
  position: fixed;
  flex-direction: column;
  height: 100%;
  width: 25%;
  background-color: #34C6C9;
  z-index: 28;
  margin-top : 0px;
}*/
.navbar{
  padding: 15px;

}

.navbar h1 a {
color: white;
}
nav.navbar{
  background-color: #FFDF0A;
}
.navbar-brand h1 {
  font-family: sans-serif;
  font-size: 30px;
  color: white;
}
a.navbar-item{
  font-size: 20px;
}

/********searchbar********/

.searchbar {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.searchbar a {
  margin-left: 10px;
  height: 50px;
}
#searchname {
  background-color: #D11651;
}
#searchcountry {
  background-color: #634afb;
}
#searchregion {
  background-color: #634afb;
}
.filter {
  border-radius: 1px;
    padding: 15px;
    width: 250px;
    border: 1px grey solid;
    border: none;
    color: white;

}
.typecss{
  padding: 30px;
    height: 45px;
    width: 250px;
    background-color: #39B2AB;
    border: none;
    color: white;
    font-size: 13px;
    border-radius: 0px;
}

#searchname::placeholder,
#searchcountry::placeholder,
#searchregion::placeholder,
#searchregion::placeholder
 {
color: white;
font-size: 16px;
}

.contribute {
  background-color: #34C6C9;
  color: white;
  font-size: 30px;
  padding: 20px;
  border-radius: 3px;
  border: none;
  text-align: center;
}

.contribute a {
  color: white;
}

.maintitle{
  text-align: center;
  font-size: 45px;
  margin-top: 2em;
  margin-bottom: 15px;

}
.title {
  text-align: center;
}
.title p{
  text-align: center;
  font-size: 30px;

}

.footer {
  margin: 10px auto 10px;
}

#mainFooter {
  background-color: white;
  padding: 2rem 1.5rem 2rem
}


/*Map Style*/
#map {
  margin-top: 15px;
  height: 600px;
  width: 100%;
  background-color: grey;
}

#legend {
  font-family: Arial, sans-serif;
  background: #fff;
  padding: 10px;
  margin: 10px;
  border: 3px solid #000;
}

#legend h3 {
  margin-top: 0;
}

#legend img {
  vertical-align: middle;
}

/*******Requests*******/
.titlenew {
  font-size: 40px;
  text-align: center;
  margin-top: 45px;
}
.subtitlenew {
  font-size: 30px;
  text-align: center;
  margin: 10px;
}

.titlerequest h2 {
font-size: 40px;
text-align: center;
margin: 30px;
}

.titlerequest h3 {
font-size: 30px;
text-align: center;
margin: 10px;
}

.requestdetails {
  border: 3px solid #FEDC63;
    border-radius: 30px;
    padding: 20px;
    font-size: 18px;
}

.buttonrequest{
  display: flex;
  flex-direction: row;
}

.requestdetails label {
  font-weight: bold;
}


/*form */

.logintitle{
font-size: 40px;
text-align: center;
margin: 30px;
}
.loginsubtitle{
font-size: 30px;
text-align: center;
margin: 30px;
}
.center{
text-align: center;
margin: 10px;
}

input, select, textarea {
  color: white;
}
textarea:focus, input:focus {
    color: white;
}

/***************form ****************/

.error-message {
  color: #ce1d53;
  box-sizing: border-box;
  margin: 20px auto;
  padding: 20px;
}
